
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        *{
            padding: 0;
            box-sizing: border-box;
            margin: 0 auto  ;
        }
        /* Header Styles */
        header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: black;
        }

        @font-face {
            font-family: 'Arareelike';
            src: url(../FRONTS/Adarsh\ Sans\ Italic.otf) format('opentype');
        }

        .logo {
            font-family: 'Arareelike';
            font-size: 40px;
            color: white;
            letter-spacing: 2px;
            position: absolute;
            margin-left: 50px;
            top: 8px;
            left: 10px;
        }

        .logo a {
            text-decoration: none;
            color: white;
        }

        .logo div sup {
            display: flex;
            align-items: start;
            justify-content: start;
        }

        .logo sup {
            font-size: 16px;
            vertical-align: super;
            position: absolute;
            top: 18px;
            left: 295px;
        }

        header nav {
            height: 80px;
        }

        header ul {
            position: absolute;
            top: 30px;
            left: 400px;
        }

        header ul li {
            display: inline-block;
            padding-left: 70px;
            list-style-type: none;
        }

        header ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
        }

        header ul li a:hover {
            transition: 0.5s;
            text-decoration: underline;
            color: rgb(10, 161, 10);
        }

        .nav-item.dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                transition: all 0.2s ease;
                color: white;
                left: 0;
                padding: 0;
            }

            
        .dropdown-menu {
            margin-top: 0;
        }
        
        .nav-item.dropdown {
            position: relative;
        }
        
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
        
        
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 20px;
            background: transparent;
        }
        
        
        .dropdown-menu {
            transition: all 0.2s ease;
            display: none;
        }

            
        .dropdown-menu {
            margin-top: 0;
        }
        
        .nav-item.dropdown {
            position: relative;
        }
        
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
        
        
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 20px;
            background: transparent;
        }
        
        
        .dropdown-menu {
            transition: all 0.2s ease;
            display: none;
        }

        .dropdown-item{
            max-width: 100px;
        }

        #person {
            color: white;
            position: absolute;
            top: -8px;
            right: -200px;
            font-size: 20px;
        }

        #search {
            color: white;
            position: absolute;
            top: -8px;
            right: -150px;
            font-size: 20px;
        }
        /* --------------------------------------------------------- */
        section{
            height: 300px;
            position: relative;
        }
        
        section .top_left{
            height: 500px;
            width: 50%;
            margin-top: 50px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section .top_left img{
            width: 710px;
            padding: 0;
            position: relative;
        }
        section .top_left .content1{
            font-size: 30px;
            position: absolute;
            top: 100px;
            left: 50px;
            color: white;
        }
        section .top_left p{
            font-size: 15px;
            position: absolute;
            top: 180px;
            left: -250px;
            color: white;
            
        }
        section .top_right p{
            font-size: 15px;
            position: absolute;
            top: 180px;
            right: -40px;
            color: white;
            
        }
        .overlay{
            position: absolute;
            top: 52px;
            left: 26px;
            width: 710px;
            height: 500px;
            background-color: rgba(43, 42, 42, 0.4); /* màu phủ + độ mờ */
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 10px 10px;
        }
        .overlay2{
            position: absolute;
            top: 52px;
            right: 26px;
            width: 710px;
            height: 500px;
            background-color: rgba(43, 42, 42, 0.4); /* màu phủ + độ mờ */
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 10px 10px;
        }
        .overlay3{
            position: absolute;
            top: 0;
            right: 26px;
            width: 710px;
            height: 500px;
            background-color: rgba(43, 42, 42, 0.4); /* màu phủ + độ mờ */
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 10px 10px;
        }
        .overlay4{
            position: absolute;
            top: 0;
            right: 26px;
            width: 710px;
            height: 500px;
            background-color: rgba(43, 42, 42, 0.4); /* màu phủ + độ mờ */
            opacity: 0;
            transition: opacity 0.3s ease;  
            padding: 10px 10px;
        }
        .top_right:hover .overlay2{
            opacity: 1;
        }
        .bottom_left:hover .overlay3{
            opacity: 1;
        }
        .bottom_right:hover .overlay4{
            opacity: 1;
        }
        .text1 {
            position: absolute;
            top: 50%;
            left: 100%; /* bắt đầu bên ngoài bên phải */
            transform: translateX(-50%);
            color: white;
            font-size: 20px;
            white-space: nowrap;
            transition: left 0.5s ease;
        }
        .text2 {
            position: absolute;
            top: 58%;
            left: 100%; /* bắt đầu bên ngoài bên phải */
            transform: translateX(-50%);
            color: white;
            font-size: 15px;
            white-space: nowrap;
            transition: left 0.5s ease;
        }
        .top_left:hover .overlay{
            opacity: 1;
        }
        .top_left:hover .text1 {
            left: 21%; /* đến giữa ảnh */
            transform: translate(-50%, -50%);
         }
         .top_right:hover .text2 {
            left: 70%; /* đến giữa ảnh */
            transform: translate(-50%, -50%);
         }
        section .top_right{
            height: 500px;
            width: 50%;
            float: left;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section .top_right .content2{
            font-size: 30px;
            position: absolute;
            top: 100px;
            right: 620px;
            color: white;
        }
        section .top_right img{
            width: 710px;
            padding: 0;
            position: relative;
        }

        aside .bottom_left{
            height: 500px;
            width: 50%;
            clear: both;
            float: left;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            position: relative;
        }

        aside .bottom_left .content3{
            font-size: 30px;
            position: absolute;
            top: 50px;
            left: 50px;
            color: white;
        }
        aside .bottom_left p{
            font-size: 15px;
            position: absolute;
            top: 130px;
            left: -295px;
            color: white;
            
        }
        .text3 {
            position: absolute;
            top: 28%;
            left: 100%; /* bắt đầu bên ngoài bên phải */
            transform: translateX(-50%);
            color: white;
            font-size: 15px;
            white-space: nowrap;
            transition: left 0.5s ease;
        }
        .bottom_left:hover .text3 {
            left: 49%; /* đến giữa ảnh */
            transform: translate(-50%, -50%);
         }
        aside .bottom_left img{
            width: 710px;
            padding: 0;
            position: relative;
        }
        aside .bottom_right{
            height: 500px;
            width: 50%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            position: relative;
        }
        aside .bottom_right img{
            width: 710px;
            padding: 0;
            position: relative;
        }
        aside .bottom_right .content4{
            font-size: 30px;
            position: absolute;
            top: 50px;
            right: 460px;
            color: white;
        }
        aside .bottom_right p{
            font-size: 15px;
            position: absolute;
            top: 130px;
            right: -50px;
            color: white;
            
        }
        .text4 {
            position: absolute;
            top: 25%;
            left: 100%; /* bắt đầu bên ngoài bên phải */
            transform: translateX(-50%);
            color: white;
            font-size: 15px;
            white-space: nowrap;
            transition: left 0.5s ease;
        }
        .bottom_right:hover .text4 {
            left: 41%; /* đến giữa ảnh */
            transform: translate(-50%, -50%);
         }
        .ngang{
            width: 100%;
            height: 500px;
            clear: both;
            position: relative;
        }
        .ngang img{
            margin-top: 50px;
            position: relative;
        }
        #newitem{
            display: flex;
            justify-self: center;
            align-self: center;
            margin-top: 80px;
            font-size: 30px;
        }
        #bottom{
            margin-top: 30px;
        }
        
        #demo2{
            display: flex;
            align-self: center;
            justify-self: center;
            width: 70%;
            margin-top: 250px;
            height: 500px;
        }
        .carousel-caption {
            font-family: Arial, sans-serif;
            font-size: 16px;
            margin-top: 100px;
            font-weight: bold;
            color: black;
         }
        #carousel-indicators button{
            margin-top: 200px;
        }
        #ngang2{
            width: 100%;
            height: 500px;
            clear: both;
            position: relative;
        }
        #ngang2 img{
            margin-top: 50px;
        }
        .content_1{
            font-size: 30px;
            position: absolute;
            color: white;
            top: 35%;
            left: 44%;
        }
        .content_2{
            font-size: 30px;
            position: absolute;
            color: white;
            top: 45%;
            left: 39%;
            font-weight: bold;
        }
        .content_3{
            font-size: 15px;
            position: absolute;
            color: white;
            top: 57%;
            left: 36%;
        }
        .content_4{
            font-size: 15px;
            position: absolute;
            color: white;
            top: 61%;
            left: 45.5%;
        }
        .button_5{
            position: absolute;
            top: 80%;
            left: 46%;
            width: 155px;
            height: 50px;
            background-color: transparent;
            border-radius: 25px;
            border: 1px solid white;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .button_5:hover{
            background-color: black;
        }
        .image-hover-zoom {
            transition: transform 0.3s ease;
            cursor: pointer; /* con trỏ thay đổi khi hover */
        }
        .image-hover-zoom:hover {
            transform: scale(1.1); /* phóng to 110% */
        }
        /* ------------------------FOOTER-------------------------- */
        .logofooter{
            font-family: 'Heathergreen', ;
            font-size: 30px;
            color: black;
            letter-spacing: 2px;
            margin-left: 20px;
            margin-top: 60px;
        }
        #contactfooter, #followfooter, #privatefooter{
            margin-top: 60px;
            font-size: 20px;
        }
        #followfooter ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
        #followfooter ul li{
            list-style-type: none;
        }
        #followfooter ul{
            position: absolute;
            top: 150px;
        }
        #privatefooter ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
        #privatefooter ul li{
            list-style-type: none;
        }
        #privatefooter ul{
            position: absolute;
            top: 150px;
        }