* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .container-fluid {
        background-color: #F4F4F2;
        width: 100%;
        padding: 0;
    }
    /*---------------------------Header Menu------------------------*/
    header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: black;
        }

        @font-face {
            font-family: 'Arareelike';
            src: url(../FRONTS/Adarsh\ Sans\ Italic.otf) format('opentype');
        }

        .logo {
            font-family: 'Arareelike';
            font-size: 40px;
            color: white;
            letter-spacing: 2px;
            position: absolute;
            margin-left: 50px;
            top: 8px;
            left: 10px;
        }

        .logo a {
            text-decoration: none;
            color: white;
        }

        .logo div sup {
            display: flex;
            align-items: start;
            justify-content: start;
        }

        .logo sup {
            font-size: 16px;
            vertical-align: super;
            position: absolute;
            top: 18px;
            left: 295px;
        }

        header nav {
            height: 80px;
        }

        header ul {
            position: absolute;
            top: 30px;
            left: 400px;
        }

        header ul li {
            display: inline-block;
            padding-left: 70px;
            list-style-type: none;
        }

        header ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
        }

        header ul li a:hover {
            transition: 0.5s;
            text-decoration: underline;
            color: rgb(10, 161, 10);
        }

        .nav-item.dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                transition: all 0.2s ease;
                color: white;
                left: 0;
                padding: 0;
            }

            
        .dropdown-menu {
            margin-top: 0;
        }
        
        .nav-item.dropdown {
            position: relative;
        }
        
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
        
        
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 20px;
            background: transparent;
        }
        
        
        .dropdown-menu {
            transition: all 0.2s ease;
            display: none;
        }

            
        .dropdown-menu {
            margin-top: 0;
        }
        
        .nav-item.dropdown {
            position: relative;
        }
        
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
        
        
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 20px;
            background: transparent;
        }
        
        
        .dropdown-menu {
            transition: all 0.2s ease;
            display: none;
        }

        .dropdown-item{
            max-width: 100px;
        }

        #person {
            color: white;
            position: absolute;
            top: -8px;
            right: -200px;
            font-size: 20px;
        }

        #search {
            color: white;
            position: absolute;
            top: -8px;
            right: -150px;
            font-size: 20px;
        }
    /*---------------------------Panel------------------------*/
    .panel{
        background-color: green;
    }
    .panel img{
        min-width: 100%;
    }
    /*---------------------------Heading------------------------*/
    .heading {
        margin-top: 20px;
        height: 50px;
        text-align: center;
        font-size: clamp(20px, 4vw, 30px);
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }
    .heading a{
        text-decoration: none;
        color: black;
    }
    /*---------------------------Menu------------------------*/
    .menu{
        margin-top: 5px;
        text-align: center;
        align-items: center;
    }
    .menu ul{
        justify-content: center;
        display: flex;
        
    }
    .menu ul li{
        list-style: none;
        margin-right: 10px;
    }
    .menu ul li a{
        color: black;
        text-decoration: none;
    }
    .menu ul li a:hover{
        color: rgb(195, 142, 77);
    }
    /*---------------------------Product------------------------*/
    .product-one-content-item-text ul {
        list-style: none;
    }
    .products ul li {
        list-style: none;
    }
    .old-price {
        color: gray;
        text-decoration: line-through;
        font-weight: bold;
    }
    .new-price {
        color: red;
        font-weight: bold;
    }

    .product-one{
        padding-left: 300px;
        padding-right: 300px;
    }
    .product-one-content-items{
        display: flex;
        justify-content: space-evenly; /*Khoảng cách đều*/
        margin-bottom: 30px;
    }
    .product-one-content-item:hover img{
        transform: translateY(-20px);
    }

    .product-one-content-item{
        width: 24%;
        background-color: white;
        padding: 50px 12px 12px;
        border-radius: 5px;cursor: pointer;
    }
    .product-one-content-item > img{
        width: 100%;
        transition: all 0.5s ease;
    }
    .product-one-content-item ul li{
        margin-top: 15px;
    }

    /*---------------------------Xem thêm------------------------*/
    #toggleBtn{
        padding: 10px 20px; 
        color: black; 
        background: none; 
        font-weight: bold;
        border: 1px solid black; 
        border-radius: 8px; 
    }

    /*---------------------------Footer------------------------*/
    .logofooter{
            font-family: 'Arareelike', ;
            font-size: 30px;
            color: black;
            letter-spacing: 2px;
            margin-left: 20px;
            margin-top: 60px;
        }
        #contactfooter, #followfooter, #privatefooter{
            margin-top: 60px;
            font-size: 20px;
        }
        #followfooter ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
        #followfooter ul li{
            list-style-type: none;
        }
        #followfooter ul{
            position: absolute;
            top: 150px;
        }
        #privatefooter ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
        #privatefooter ul li{
            list-style-type: none;
        }
        #privatefooter ul{
            position: absolute;
            top: 150px;
        }
